In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,r2_score

In [5]:
df=pd.read_csv("multil_salary_pred - Sheet1.csv")
df.head()

,Experience_years,Education_Level,Skills_Count,Performance_Rating,Salary_lpa
0,1,1,3,3,4.0
1,2,1,4,3,5.0
2,3,2,5,4,7.0
3,4,2,6,4,8.0
4,5,2,7,5,10.0

In [10]:
X=df[["Experience_years","Education_Level","Skills_Count","Performance_Rating"]]
y=df["Salary_lpa"]

In [11]:
X_train,X_test,y_train,y_test=train_test_split(
    X,y,test_size=0.2,random_state=42

)

In [16]:
model=LinearRegression()
model.fit(X_train,y_train)
print(f"\n Slope(m):{model.coef_}")
print(f"Intercept (b):{model.intercept_}")

 Slope(m):[1.25592417 0.34952607 0.20616114 0.22274882]
Intercept (b):0.5236966824644522

In [17]:
y_pred=model.predict(X_test)
print(f"\nActual vs Predicted")
for actual,pred in zip(y_test,y_pred):
    print(f"Actual:{actual:.2f},predicted:{pred:.2f}")

Actual vs Predicted
Actual:11.00,predicted:11.09
Actual:7.50,predicted:7.95
Actual:4.00,predicted:3.42

In [18]:
#Evaluate model
mae=mean_absolute_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print(f"Mean absolute Error:{mae}")
print(f"R2 Score:{r2}")

Mean absolute Error:0.3740126382306485
R2 Score:0.9776241228056101

In [19]:
df.head()

,Experience_years,Education_Level,Skills_Count,Performance_Rating,Salary_lpa
0,1,1,3,3,4.0
1,2,1,4,3,5.0
2,3,2,5,4,7.0
3,4,2,6,4,8.0
4,5,2,7,5,10.0

In [23]:
new_salary_data={
    "Experience_years":[2,3,4,5,6],
    "Education_Level":[1,2,1,1,1],
    "Skills_Count":[3,4,6,7,3],
    "Performance_Rating":[3,2,4,5,3]
}
new_df=pd.DataFrame(new_salary_data)
new_df["predict_salary"]=model.predict(new_df)
new_df

,Experience_years,Education_Level,Skills_Count,Performance_Rating,predict_salary
0,2,1,3,3,4.671801
1,3,2,4,2,6.260664
2,4,1,6,4,8.024882
3,5,1,7,5,9.709716
4,6,1,3,3,9.695498