In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,r2_score

In [7]:
df=pd.read_csv("Delievery_dataset - Sheet1 (1).csv")
df.head()

   Distance_km  Items  Traffic_Level  Processing_Time_hr  Delivery_Time_hr
0            5      2              1                 1.0               3.0
1            8      3              2                 1.5               5.0
2           12      5              3                 2.0               8.0
3            4      1              1                 0.5               2.5
4           15      6              3                 2.5              10.0

In [8]:
X=df[["Distance_km","Items","Traffic_Level","Processing_Time_hr"]]
y=df["Delivery_Time_hr"]

In [9]:
X_train,X_test,y_train,y_test=train_test_split(
    X,y,test_size=0.2,random_state=42

)

In [10]:
model=LinearRegression()
model.fit(X_train,y_train)
print(f"\n Slope(m):{model.coef_}")
print(f"Intercept (b):{model.intercept_}")

 Slope(m):[ 0.53055556 -0.23611111  0.74444444  0.54444444]
Intercept (b):-0.5138888888888893

In [11]:
y_pred=model.predict(X_test)
print(f"\nActual vs Predicted")
for actual,pred in zip(y_test,y_pred):
    print(f"Actual delivery time:{actual:.2f},predicted delivery time:{pred:.2f}")

Actual vs Predicted
Actual delivery time:5.50,predicted delivery time:5.62
Actual delivery time:4.00,predicted delivery time:4.23
Actual delivery time:3.00,predicted delivery time:2.96

In [15]:
#Evaluate model
mae=mean_absolute_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)
print(f"Mean absolute Error:{mae:.2f}")
print(f"R2 Score:{r2:.2f}")

Mean absolute Error:0.13
R2 Score:0.98

In [13]:
df.head()

   Distance_km  Items  Traffic_Level  Processing_Time_hr  Delivery_Time_hr
0            5      2              1                 1.0               3.0
1            8      3              2                 1.5               5.0
2           12      5              3                 2.0               8.0
3            4      1              1                 0.5               2.5
4           15      6              3                 2.5              10.0

In [17]:
new_delivery_data={
    "Distance_km":[3,2,7,12,6],
    "Items":[1,2,3,6,1],
    "Traffic_Level":[4,2,3,1,2],
    "Processing_Time_hr":[4.0,3.0,1.0,5.0,10.0]
}
new_df=pd.DataFrame(new_delivery_data)
new_df["predict_Delivery_Time_hr"]=model.predict(new_df)
new_df

,Distance_km,Items,Traffic_Level,Processing_Time_hr,predict_Delivery_Time_hr
0,3,1,4,4.0,5.997222
1,2,2,2,3.0,3.197222
2,7,3,3,1.0,5.269444
3,12,6,1,5.0,7.902778
4,6,1,2,10.0,9.366667