In [13]:
# Scenario: Employee Training & Satisfaction Survey
# A company conducts a survey to understand how employee education level and job satisfaction affect performance.
# They collect data such as:
# - Education: High School, Bachelor, Master, PhD
# - Satisfaction: Poor, Average, Good, Excellent
# Since these categories have a natural order (e.g., PhD is higher than Bachelor, Excellent is better
#  than Good), the company decides to use Ordinal Encoding to convert them into numbers that respect 
#  this ranking.
# They define custom ordering:
# - Education → High School (0), Bachelor (1), Master (2), PhD (3)
# - Satisfaction → Poor (0), Average (1), Good (2), Excellent (3)
# They also compare this with a manual dictionary mapping to ensure consistency.

In [14]:
import pandas as pd

In [15]:
data=pd.DataFrame({
    'Education':['Bachelor','Phd','Master','High School'],
    'Satisfaction':['Good','Excellent','Poor','Average']
})

In [16]:
from sklearn.preprocessing import OrdinalEncoder

education_order = [['High School', 'Bachelor', 'Master', 'Phd']]
satisfaction_order = [['Poor', 'Average', 'Good', 'Excellent']]

edu_encoder = OrdinalEncoder(categories=education_order)
sat_encoder = OrdinalEncoder(categories=satisfaction_order)

data['Education_Encoded'] = edu_encoder.fit_transform(
    data[['Education']]
).astype(int)

data['Satisfaction_Encoded'] = sat_encoder.fit_transform(
    data[['Satisfaction']]
).astype(int)

In [17]:
satisfaction_map = {
    'Poor': 0,
    'Average': 1,
    'Good': 2,
    'Excellent': 3
}
education_map = {
    'High School': 0,
    'Bachelor': 1,
    'Master': 2,
    'PhD': 3
}
data['Education_Manual'] = data['Education'].map(education_map)
data['Satisfaction_Manual'] = data['Satisfaction'].map(satisfaction_map)

In [18]:
data

,Education,Satisfaction,Education_Encoded,Satisfaction_Encoded,Education_Manual,Satisfaction_Manual
0,Bachelor,Good,1,2,1.0,2
1,Phd,Excellent,3,3,NaN,3
2,Master,Poor,2,0,2.0,0
3,High School,Average,0,1,0.0,1