In [1]:
import pandas as pd
df = pd.read_csv("Dataset  - Sheet1 (1).csv")

In [2]:
df.columns = df.columns.str.strip()

print("Columns:", df.columns)
print("\nFirst 5 rows:")
print(df.head())

Columns: Index(['Employee', 'Department', 'Quarter', 'Score'], dtype='str')

First 5 rows:
  Employee Department Quarter  Score
0     Amit      Sales      Q1     78
1    Priya         HR      Q1     85
2     John         IT      Q1     92
3     Sara    Finance      Q1     88
4    David      Sales      Q2     95

In [3]:
# 1️⃣ Exceptional performers (Score > 90)
exceptional = df[df["Score"] > 90]
print("\nEmployees with Score > 90:")
print(exceptional)

Employees with Score > 90:
  Employee Department Quarter  Score
2     John         IT      Q1     92
4    David      Sales      Q2     95
8     Neha      Sales      Q3     99

In [4]:
# 1️⃣ Exceptional performers (Score > 90)
exceptional = df[df["Score"] > 90]
print("\nEmployees with Score > 90:")
print(exceptional)

Employees with Score > 90:
  Employee Department Quarter  Score
2     John         IT      Q1     92
4    David      Sales      Q2     95
8     Neha      Sales      Q3     99

In [5]:
# 2️⃣ Records for Sales department only
sales_dept = df[df["Department"] == "Sales"]
print("\nSales Department Records:")
print(sales_dept)

Sales Department Records:
  Employee Department Quarter  Score
0     Amit      Sales      Q1     78
4    David      Sales      Q2     95
8     Neha      Sales      Q3     99

In [6]:
# 3️⃣ Sort by Score (Descending)
sorted_score = df.sort_values(by="Score", ascending=False)
print("\nEmployees Ranked by Score (High to Low):")
print(sorted_score)

Employees Ranked by Score (High to Low):
  Employee Department Quarter  Score
8     Neha      Sales      Q3     99
4    David      Sales      Q2     95
2     John         IT      Q1     92
7     Ravi    Finance      Q2     90
3     Sara    Finance      Q1     88
1    Priya         HR      Q1     85
5    Meera         HR      Q2     80
0     Amit      Sales      Q1     78
9    Karan         IT      Q3     76
6     Alex         IT      Q2     70

In [7]:
# 4️⃣ Sort by Department, then Score
dept_sorted = df.sort_values(by=["Department", "Score"], ascending=[True, False])
print("\nDepartment-wise Ranking:")
print(dept_sorted)

Department-wise Ranking:
  Employee Department Quarter  Score
7     Ravi    Finance      Q2     90
3     Sara    Finance      Q1     88
1    Priya         HR      Q1     85
5    Meera         HR      Q2     80
2     John         IT      Q1     92
9    Karan         IT      Q3     76
6     Alex         IT      Q2     70
8     Neha      Sales      Q3     99
4    David      Sales      Q2     95
0     Amit      Sales      Q1     78

In [8]:
# 5️⃣ Average Score per Department
dept_avg = df.groupby("Department")["Score"].mean()
print("\nAverage Score per Department:")
print(dept_avg)

Average Score per Department:
Department
Finance    89.000000
HR         82.500000
IT         79.333333
Sales      90.666667
Name: Score, dtype: float64

In [9]:
# 6️⃣ Maximum Score per Quarter
quarter_max = df.groupby("Quarter")["Score"].max()
print("\nMaximum Score per Quarter:")
print(quarter_max)

Maximum Score per Quarter:
Quarter
Q1    92
Q2    95
Q3    99
Name: Score, dtype: int64